* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
}
body {
    background: #eee;
    padding: 0 16px;
    
}
.header {
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: left;
    background-color: orange;
    color: white;
    font-family: "McLaren", cursive;
    font-weight: 200;
}
.footer {
    color: darkgrey;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
}
.note {
    float: left;
    padding: 16px;
    margin: 16px;
    width: 240px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    background-color:  white;
}
.note h1 {
    font-size: 1.1rem;
    color: blue;
    margin-bottom: 4px;
}
.note p{
    color: black;
    font-size: 0.8rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.card {
    margin: 30px;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    padding: 25px 15px;
    background-color: lightseagreen;
    box-shadow: 0 2px 5px;
    text-align: left;
    float: left
}
.top {
    border-radius: 30px 30px 0 0;
    height: 100px;
    width: 100%;
    background-color: lightskyblue;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.name {
   font-size: 2em; 
    color: black;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}
.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 20px 0 0;
}
.bottom {
    margin: 95px 0 0 10px;
}
.info {
    margin: 20px 0;
    color: teal;
}
p {
    color: black;
}
.idPos {
    color: lightskyblue;
    position: absolute;
    right: 10px;
    bottom: -90px;
}
.emojiCard {
    margin: 30px;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    padding: 25px 15px;
    background-color: lightseagreen;
    box-shadow: 0 2px 5px;
    text-align: center;
    float: left
}
.emojiCard img {
    width: 50px;
    height: 50px;
    top: -15px;
    position: relative;
}
.emojiCard h4 {
    position: relative;
    top: -15px;
}
.emojiCard p {
    
    font-size: 0.7em;
}
.emoji{
    
}